.top
{
    margin-top: 10px;
}
.phone
{
    color: #666;
    float: right;
}
.mail
{
    color: #666;
    float: right;
}
.ant:link
{
    text-decoration: none;
}
.ant:visited
{
    text-decoration: none;
}
.ant:hover
{
    text-decoration: none;
}
.ant :active
{
    text-decoration: none;
}
.navbar-default
{
    margin-bottom: 0px;
    border: 0px;
    background-color: #e7e7e7;
    margin-top: 30px;
}
/*导航栏栏目激活时属性*/
.navbar-default .navbar-nav.active a,
.navbar-default .navbar-nav.active a:hover,
.navbar-default .navbar-nav.active a:focus
{
    
    background-color: orange;
    color:#fff;
}
/*一级菜单光标移过时属性*/
.navbar-default .navbar-nav li a:hover
{
    color:#fff;
    background-color: orange;
    
}
/*一级菜单单击展开时属性*/
.navbar-default .navbar-nav li.open a.on
{
    color:#fff;
    background-color: orange;
    
}
/*下拉菜单内边距*/
.dropdown-menu
{
    padding:0px;
    
}
/*二级菜单标签属性*/
.dropdown-menu li aside
{
    padding-top: 10px;
    padding-bottom: 10px;
    color: #777;
    text-align: center;
}
/*一级菜单宽度和文字对齐方式*/
.nav-top
{
    width: 14%;
    text-align: center;
}
/*分割线样式*/
.line
{
    height: 3px;
    width: 100%;
    background-color: orange;
}
/*页脚*/
.web-footer
{
    width: 100%;
    margin-top: 30px;
}
/*页脚布局2-2-2-2-4*/
#map-footer{
    background-color: #3A3A3A;
}
#map-footer dl{
    text-align: center;
    margin-top: 40px;
}
#map-footer dt{
    padding: 3px;
    color:#fff;
}
#map-footer dd{
    padding: 3px;
    
}
#map-footer p{
    margin-top: 20px;
    margin-bottom: 10px;
    color:#fff;
    font-size: 16px;
}
#map-foot a
{
    color: #a6a6a6;
    font-size: 13px;
}
#map-foot a:hover
{
    color: #fff;
    text-decoration: none;
}
#wx
{
    text-align: center;
}
.qrimg
{
    max-width: 170px;
}
/*版权部份*/
#patent-footer{
    text-align: center;
    background-color: #3A3A3A;
}
#patent-footer p
{
    margin-top: 10px;
    padding-right: 80px;
    color: #8d8d8d;
    font-size: 11px;
}
/* 侧边导航样式start */
.row-3/*设置顶部边框*/
{
    margin-top: 30px;
}
.model-title/*设置导航标题样式*/
{
    text-align: center;
    color: #fff;
    font-size: 22px;
    padding: 15px 0px;
    background: #005197;
    margin-top: 25px;
}
.model-list li/*设置导航列表项样式*/
{
    text-align: center;
    font-size: 16px;
    background-color: #f6f6f6;
}
.model-list li a/*侧边导航栏列表项链接接样式*/
{
   color: #545353;
   text-decoration: none;
}
.model-list li a:hover/*侧边导航栏列表项链接激活样式*/
{
   color: #005197;
   text-decoration: none;
}
.model-list li.active/*侧边导航栏激活样式*/
{
    text-align: center;
    font-size: 16px;
    background-color: #f6f6f6;
    border-color: #ddd;
}
.model-list li.active:hover/*侧边导航栏激活时鼠标移过时样式*/
{
    text-align: center;
    font-size: 16px;
    background-color: #f6f6f6;
    border-color: #ddd;
    text-decoration: none;
}
.model-list li.active a
{
color: #005197;
text-decoration: none;
}
.
/* 侧边导航样式 end*/
